@charset "utf-8";
/* CSS Document */

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px auto;
}

table * {
//	font-size: 15.5px;
}

table thead tr {
	font-size: 24px;
	height: 50px;
}

table tbody tr {
	border: thin solid black;
}

table tbody tr td {
	padding: 0px 40px;
	text-align: left;
	border: thin solid black;
}

table tbody tr td input {
	width: 100%;
}
